div {
  border: solid;
  border-color: black;
  margin: 3px;
  padding: 0
}

.grid-container-padding {
  height: 500px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  height: 400px;
  width: 900px;
  display: flex;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-direction: column;
}